$primary-color: #fefffe;
$secondary-color: #563d8f;
$main-bg-img: url("../images/bg.png");

$profile-pic-size:200px;


@mixin mediaSm{
    @media screen and (max-width:500px) {
        @content;
    }
}
@mixin mediaMd{
    @media screen and (max-width:768px) {
        @content;
    }
}
@mixin mediaLg{
    @media screen and (min-width: 769px) and (max-width:1170px) {
        @content;
    }
}
@mixin mediaXl{
    @media screen and (min-width:1171px) { 
        @content;
    }
}

@function set_animation_direction($direction){
    @if($direction = forwards){
        @return reverse;
    } @else{
        @return forwards;
    }
}