@include mediaXl{

}

@include mediaLg{
    
}
// 768px
@include mediaMd{
    .personal-cotact-container{
        flex-wrap: wrap;
    }
}
// 500px
@include mediaSm{
    .nav-bar{
        gap: 3.5rem !important;
        a{
            font-size: 1rem !important;
        }
        
    }
    .main{
        .primary-text{
           font-size: 2.3rem !important; 
        }
        .about-btn{
            width: 100px !important;
            h3{
                font-size: 1rem;
            }
        }
    }

}