@import "config";

body{
    background: $main-bg-img;
    background-size: cover;
    background-attachment: fixed;
    
    &#home-body{
        overflow: hidden;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100vh);
        background: rgba(#000, .8); // bg overlay 
        z-index: -1;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    background: rgba(#000, .3);
    justify-content: center;
    padding: 1.5rem;
    .nav-item{
        margin: 1.5rem 3.5rem;
        a{
            text-decoration: none;
            color: $secondary-color;
            font-size: 1.5rem;
            &.current{
                color: $primary-color;
            }
            &:hover{
                text-shadow: 
                    0 0 7px #fff,
                    0 0 10px #3a2b5e
                ; 
            }
        }
        
    }
}

.main{
    color: $primary-color;
    // background: #000;
    height: 100vh;
    padding: 3rem 10vw;
    .primary-text{
        font-size: clamp(4rem ,10vw,10rem);
    }
    .about-btn{
        display: block;
        margin-top: 50px;
        text-align: center;
        background: rgba($secondary-color,.9);
        width: 130px;
        padding: 20px 10px;
        border-radius: 35px;
        text-decoration: none;
        h3{
            color: $primary-color;
        }
       
    }
}

.secondary-text{
    color: $secondary-color;
}





// about page
.about-main{
    display: flex;
    flex-direction: column;
    .personal-cotact-container{
        display: flex;
        gap: 3rem;
        .contact-me{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                font-size: 2rem;
            }
            .contact-container{
                border: solid 3px $secondary-color;
                border-radius: 10px;
                display: grid;
                padding: 2rem;
                grid-template-areas: 
                'item item'
                'item item';
                justify-content: center;
                gap: 2rem;
                a{
                    all:unset;
                    cursor: pointer;
                    &:hover{
                        color: $secondary-color;
                    }
                }
                .i{
                    grid-area: item;
                    font-size: 5rem;
                }
            }
        }
    }
    .bg-overlay{
        background: rgba($primary-color, $alpha: .05);
        border-radius: 10px;
        padding: 20px;
    }
    .profile-img{
        width: $profile-pic-size;
        height: $profile-pic-size;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1rem;
        border: solid 3px $secondary-color;
        img{  
            width: $profile-pic-size;
        }
    }
    .idk{
        display: flex;
        align-items: center;
        h2{
            margin-left: 10px;
            
        }
        span{
            color: $secondary-color;
        }
        a{
            text-decoration: none;
            color: #00a652;
        }
    }

    .skills-section{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        .skill{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        .scroller{
            margin-top: 10px;
            border-bottom: solid 3px $primary-color;
            width: 100%;
            padding-block: 15px;
            -webkit-mask-image: linear-gradient(90deg,transparent, white ,white,transparent);
            // mask-image: linear-gradient(black, transparent);
            overflow: hidden;
            .inner-scroller{
                width: max-content;
                display: flex;
                gap: 2rem;
                animation: scroll var(--_animation_speed,50s) var(--_animation_direction,forwards)  infinite linear;
                animation-delay: var(--_animation_delay,0s);
                
            }
            &[data-direction="left"]{
                --_animation_direction:reverse;
                --_animation_delay:.5s
            }
            &[data-speed="fast"]{
                --_animation_speed:30s;
            }
        }
        
    }
}

@keyframes scroll{
    to{
        transform: translate(calc(-50% - 1rem));
    }
}




// Fonts
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  